<div class="grid-container">
  <%- include('../partials/logo.ejs') %>
  <div class="loginbox">
    <form>
      <h2>Sign-in to your account</h2>
      <!-- <label for="loginid">E-mail</label> -->
      <i class="fa-regular fa-envelope"></i>
      <input type="text" id="E-mail" placeholder="Type your E-mail address" name="E-mail" required />

      <!-- <label for="password">Password:</label> -->
      <input type="password" id="password" placeholder="Type your password" name="password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</div>