<div class="grid-container">
  <%- include('../partials/logo.ejs') %>
  <main>
    <div class="loginbox">
      <form method="POST" action="/signin">
        <h2>sign-in to your account</h2>

        <!-- <label for="loginid">E-mail</label> -->
        <i class="fa-regular fa-envelope"></i>
        <input type="text" id="E-mail" placeholder="Type your E-mail address" name="email" required />

        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" placeholder="Type your password" name="password" required />
        <button type="button" id="Loginbtn" disabled>Login</button>
        <%- include('../partials/auth-btns.ejs') %>
      </form>
    </div>
  </main>
</div>