<header class="petpal-header flex-display">
  <img src="/img/petpal.png" alt="logo" class="home-petpal-logo">
  <ul class="petpal-options flex-display petpal-option-container">
    <li><a href="/appointments">Appointments</a></li>
    <li><a href="/pets">Your pets</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>