<header class="petpal-header flex-display">
  <a href="/appointments"><img src="/img/petpal.png" alt="logo" class="home-petpal-logo"></a>
  <ul class="petpal-options flex-display petpal-option-container">
    <li><a href="/appointments">Appointments</a></li>
    <li><a href="/pets">Your pets</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>