<div class="grid-container">
    <%- include('../partials/logo.ejs') %>
        <div class="loginbox">
            <h2>Access your account</h2>
            <a href="signup"><button class="signup-btn">Sign up</button></a>
            <a href="signin"><button class="login-btn">Login</button></a>
        </div>
</div>