<div class="grid-container">
    <%- include('../partials/logo.ejs') %>
        <div class="loginbox">
            <h2>Access your account</h2>
            <button class="signup-btn">Sign up</button>
            <button class="login-btn" onclick="location.href='login'">Login</button>
        </div>
</div>