<div class="main-grid-container">
  <%- include('../partials/header') %>
  <main class="pet-container">
    <header class="messages">
      <div>
        <h1 class="appointment-msg">Edit Pet Details:</h1>
      </div>
    </header>
    <section class="add-pet-container">
      <%- include('../partials/pet-form') %>
    </section>
  </main>
</div>