* {
    padding: 0;
    margin: 0;

}

body {

    background: rgb(2, 0, 36);
    background: linear-gradient(169deg, rgba(2, 0, 36, 1) 0%, rgba(243, 187, 254, 1) 0%, rgba(170, 230, 255, 1) 100%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.grid-container {
    display: grid;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
}

.loginbox {
    width: 780px;
    height: 550px;
    margin: 0 auto;
    /* 블록요소를 부모영역에서 가운데 처리 */
}

.loginbox h2 {
    width: 100%;
    /* 부모영역을 상속 */

    /* 한줄텍스트인 경우만 height와 line-height가 같으면 세로 가운데 처리 */
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: gray;
}

.loginbox form {
    width: 100%;
    height: 450px;
    /* background-color: #fff; */
    /* 패딩수치를 인사이드 처리 */
    padding: 60px;
    box-sizing: border-box;
}

.loginbox fieldset {
    border: none;
    /* 테두리 제거 */
}

.loginbox legend {
    /* 요소를 화면 밖으로 처리 */
    position: absolute;
    left: -999em;

    /* 웹접근성으로 스크린리더기가 읽어줘야 하므로 display: none;을 사용하지 말것 */
}

.loginbox label {
    display: block;
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    /* 동위선택자와의 간격 조정 */
}

.loginbox input {
    display: block;
    width: 50%;
    height: 50px;
    margin-bottom: 25px;
    /* 동위선택자와의 간격 조정 */
    border: none;
    border-radius: 15px;
    background-color: #ededed;
    padding: 0 20px;
    /* 앞상하 뒷좌우 */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    /* 패딩수치를 인사이드 처리 */
}

.loginbox ul {
    width: 100%;
    text-align: right;
    margin-top: 25px;
    /* 글자를 오른쪽으로 처리 */
    margin-bottom: 60px;
}

.loginbox li {
    display: inline-block;
    height: 12px;
    line-height: 12px;
}

.loginbox li:last-child {
    border-left: 1px solid #333;
    padding-left: 10px;
    padding-right: 40px;
    /* 테두리 안쪽 여백 */
    margin-left: 4px;
    /* 테두리 바깥쪽 여백 */
}

.loginbox a {
    /* 글자관련은 보통 최종태그에 줘야 적용 */
    color: #333;
    font-size: 12px;

    /* 현재 위치에서 상대적 이동 */
    position: relative;
    top: -2px;
}

.loginbox button {
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /* 블록요소가 부모 영역에서 가운데 오기 */
    border: none;
    background-color: #1673ea;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}