<div class="grid-container">
  <header class="index-logo-container">
    <img src="img/Untitled.png" alt="logo" class="index-logo">
  </header>
  <main class="index-auth-container">
    <h1>Welcome to Petpal!</h1>
    <h2>Where keeping track of your pet's needs has never been easier.</h2>
    <h2 class="index-msg">Sign in or sign up to continue</h2>
    <a href="signin" class="index-signin">Sign In</a>
    <a href="signup" class="index-signup">Sign Up</a>
  </main>
</div>